body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    align-content: center;
    display: flex;

    justify-content: center;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: #1d1d1d;

}

code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

table {
    width: 100%;
}

.dropdown__hover:hover {
    transition: 0.2s;
    background-color: #f2f2f2;
}


.overflow-hidden {
  overflow: hidden;
}

.max-height-transition {
  transition: max-height 1s;
  max-height: 500px; /* Set a large value to handle dynamic content */
}

.max-height-open {
  max-height: 500px; /* Set the same large value as max-height-transition */
}

.max-height-closed {
  max-height: 0;
}

